<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .coba {
        color: blue;
      }
    </style>
  </head>
  <body>
    <center>
      <div class="text-3xl">Reset Password</div>
    </center>
    <div class="pt-2 pl-8 text-red-500">
      Hey, <span style="color: black; font-weight: 700">{{username}}</span> this is your link : Click here <a href="{{link}}">link </a>
    </div>
  </body>
</html>
